footer a {
    text-decoration: none;
}

.botao {
    height: 50px;
    width: 70px;
    background-color: rgb(91, 91, 91);
    margin: 3px;
    font-size: 20px;
    border-radius: 0px;
    color: white;
    
}

.botao:hover {
    background-color: rgb(175, 175, 175);
}



#cpf.vazio::before {
    content: attr(data-placeholder);
    color: #000;

}

#status {
    top: 0;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
}